---
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.14.5"
    hooks:
      - id: ruff

  # Note: ty type checker doesn't have a pre-commit hook yet
  # Run manually with: uvx ty check .

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
