name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      commit:
        description: "Commit to build from"
        required: true
        default: "main"

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up uv and Python
        uses: astral-sh/setup-uv@e58605a9b6da7c637471fab8847a5e5a6b8df081
        with:
          enable-cache: true
          python-version: "3.13"
          cache-dependency-glob: "pyproject.toml"

      - name: Build
        run: uv build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pypi-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: pypi-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@106e0b0b7c337fa67ed433972f777c6357f78598
        with:
          packages-dir: dist/

  github-release:
    name: Sign and upload release artifacts
    needs:
      - pypi-publish
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v4
        with:
          name: pypi-dists
          path: dist/
      - name: Sign the dists with Sigstore
        uses: sigstore/gh-action-sigstore-python@f514d46b907ebcd5bedc05145c03b69c1edd8b46
        with:
          inputs: >-
            ./dist/*.tar.gz ./dist/*.whl
      - name: Upload artifact signatures to GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >-
          gh release upload "$GITHUB_REF_NAME" dist/** --repo
          "$GITHUB_REPOSITORY" --clobber
