name: Ruff Lint

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up uv (Astral)
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install ruff
        run: |
          uv venv
          uv pip install --upgrade pip
          uv pip install ruff
      - name: Run ruff check
        run: uv run ruff check .
